<header class="header container">
  <div class="logo__wrapper">
    <a href="/"
      ><img class="logo" src="../assets/images/logo.webp" alt="Shop Logo"
    /></a>
    <i
      class="bi bi-list header__burger"
      role="button"
      tabindex="0"
      aria-expanded="false"
    ></i>
    <i
      class="bi bi-x header__close hidden"
      role="button"
      tabindex="0"
      aria-label="Close menu"
    ></i>
  </div>

  <div class="nav__wrapper menu-closed">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#collections">Collections</a></li>
        <li class="nav__item"><a href="#about">About us</a></li>
        <li class="nav__item"><a href="#services">Special Services</a></li>
        <li class="nav__item"><a href="#boutique">Boutique</a></li>
        <li class="nav__item"><a href="#tips">Tips</a></li>
        <li class="nav__item"><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="nav__socials">
      <li class="nav__social">
        <a href="#"><i class="bi bi-facebook"></i></a>
      </li>
      <li class="nav__social">
        <a href="#"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav__social">
        <a href="#"><i class="bi bi-twitter"></i></a>
      </li>
    </ul>
  </div>
</header>
