@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nanum Myeongjo", serif;
  --color-primary: #f52e62;
  --text-color-primary: #2f2f2f;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color-primary);
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
